.error-404{

    .fourohfour{
        font-size: 33px;
        text-align: center;
        color: $color__brand-orange;
        font-weight: bold;
    }
 
    .pnf{
        color: #464646;
    }
 
    .searchfour{
        width: 30%;
        margin-left: 35%;
 
    }
 
    fieldset{
        border: none;
    }
 
    p{
        text-align: center;
    }
 
    h1{
        text-align: center;
    }
 }