footer{

    width: 100%;
    height: 240px;
    background-color: #20bed4;
    color: #fffefa;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 50% 25%;
}

    .social-icons{
        grid-column-start: 2;
        font-size: 20px;
    }

    .phone{
        grid-column-start: 1;
    }

    .warning{
        grid-row-start: 2;
    }

    .copyright{
        grid-column: 2;
        grid-row: 3;
    }


