    .site-content{
        background-color: #fffefa;
    }

    .site-header{
        height: 80px;
        width: 100%;
    }

    .logo{
        width: 104px;
        height: 64px; 
        position: absolute; 
    }

    .searchsection{
        display: none;
    }

@media only screen and (min-width: 1200px) {

.searchsection{

    display: inline;

    .search-form{
        width: 200px;
        border: none;
        margin-left: 80%;
        

    .search-submit{
        background-color: #fffefa;
        box-shadow: none;
        border: none;
        margin: 0;
    }
    }

    .search-field{
        border-right: none;
        border-left: none;
        border-top: none;
        width: 120px;
    }

    fieldset{
        border: none;
    }

}

}

