.site-content{
    background-color: #fffefa;
}

.site-header{
    height: 80px;
    width: 100%;
}

.logo{
    width: 104px;
    height: 64px; 

    position: absolute; 
}

#menu-item-40 a{
	color: #fffefa !important;
	font-family: AvenirNext;
	font-size: 18px;
	font-weight: 600;
    }
