.post-type-archive-speakers{

    .site-content{
        margin-top: 10rem;
        width: 100%;
        margin-bottom: 5rem;
    }

    .entry-header {
        display:flex;
        width: 100%;
        height: 400px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255,255,255,.7)), url("../../images/swm_logo_icon.png");
        background-position: 105% 0%;
        background-repeat: no-repeat;
        background-size: 25%;
        margin-bottom: 10%;
        h2{
            @include set-font-main-title-sbout;
            width: 45%;
            margin-left:auto;
            margin-right:auto;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .entry-content{
        display:grid;
        grid-template-columns: 1fr;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        justify-items: flex-start;

        h3{
            @include set-font-speakers-about;
            margin-bottom: 5rem;
        }

            .speaker{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 1rem;
                margin-bottom: 3rem;
                width: 100%;

                p {
                    margin-bottom: 0;
                }

                .speaker-image{
                    grid-column: 1 /2;
                    width: 240px;
                    height: 300px;

                        img{
                        width: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                        height: inherit;
                        border-radius: 25px;
                        }
                }

               .speaker-info{
                    display: grid;
                    grid-row-gap: .5rem;
                    width: 100%;
              
                        .speaker-name{
                            grid-column: 2 /3;
                            @include set-font-speakers-name-about;
                        }

                        .speaker-job{
                            grid-column: 2 /3;
                            @include set-font-speakers-title-about;
                        }

                        .speaker-bio{
                            grid-column: 2 /3;
                            @include set-font-speaker-name-biograpgy;
                        }

                        a {
                            grid-column: 2 /3;
                        }
                 } 
        }
    }

    
}