.page-id-7067{
    .entry-title{
        display: none;
    }

    .entry-content{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        grid-row-gap: 50%;
        width: 400px;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 10%;
        margin-bottom: 20%;
        background-image: url("/images/swmLogo.png");

        p{
            text-align: center;
            font-size: 20px;
        }

        .wp-block-button__link{
            font-size: 20px;
            width: 175px;
            border: none;
            border-color: none;
            border-radius: 15px;
            background: $color__brand-orange;
            color:$color__brand-white;
            line-height: 1;
            padding: .6rem 1rem .4rem;
        }
    }



@media (min-width: 1120px) {
    .entry-content{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        grid-row-gap: 50%;
        width: 1120px;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 10%;
        margin-bottom: 20%;
        background-image: url("/images/swmLogo.png");

        p{
            text-align: center;
            font-size: 20px;
        }

        .wp-block-button__link{
            font-size: 20px;
            width: 175px;
            border: none;
            border-color: none;
            border-radius: 15px;
            background: $color__brand-orange;
            color:$color__brand-white;
            line-height: 1;
            padding: .6rem 1rem .4rem;
        }
    }
    }
}